@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Golden";
    src: url("./assets/fonts/Golden-Graph.woff2") format("woff2"),
      url("./assets/fonts/Golden-Graph.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Haoura";
    src: url("./assets/fonts/Hauora-Regular.woff2") format("woff2"),
      url("./assets/fonts/Hauora-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Haoura";
    src: url("./assets/fonts/Hauora-Medium.woff2") format("woff2"),
      url("./assets/fonts/Hauora-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Haoura";
    src: url("./assets/fonts/Hauora-SemiBold.woff2") format("woff2"),
      url("./assets/fonts/Hauora-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Haoura";
    src: url("./assets/fonts/Hauora-Bold.woff2") format("woff2"),
      url("./assets/fonts/Hauora-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Haoura";
    src: url("./assets/fonts/Hauora-ExtraBold.woff2") format("woff2"),
      url("./assets/fonts/Hauora-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }
}
